html {
    box-sizing: border-box;
}

html *,
html*::before,
html*::after {
    box-sizing: inherit;
}

body {
    background-color: aquamarine;
}
nav {
    padding: 1em;
}

aside {
    margin: 3em;
    background-color: aquamarine;
}