html {
    box-sizing: border-box;
}

html *,
html*::before,
html*::after {
    box-sizing: inherit;
}

body{
    font-family: tahoma;
    background-color: bisque;
    line-height: 1.6;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: lightskyblue;
    color: lightgreen;
}